
[mysqld]
skip-host-cache
skip-name-resolve
datadir=/data
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/mysql-files
user=mysql

lower_case_table_names=1

pid-file=/var/run/mysqld/mysqld.pid
[client]
socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/
